/* pokedex.css */
body {
    margin: 0;
    padding: 0;
    background: white; 
    font-family: Helvetica, sans-serif; 
}

.Pokedex { height: 100vh; width: 45%; margin: auto; background: #D3D3D1; border: 1px solid #440a0a; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); padding: 20px; border-radius: 10px; position: relative; overflow-y: auto; padding: .5rem; box-sizing: border-box; padding-top: 3rem; }

/* .Pokedex::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%; 
    border-left: 1px solid black; 
} */

.Pokedex .Pokedex-content { position: relative; display: flex; z-index: 1; flex-direction: column; flex-wrap: nowrap; align-content: stretch; justify-content: center; align-items: stretch; height: 100%; width: 100%; margin: 0 auto; }

.Pokedex .Pokedex-content :is(.Busqueda, .Resultado) { flex: 1 0 auto; width: 100%; height: 100%; max-height: 50%; position: relative; padding: 0; }

.Pokedex .Pokedex-content .Busqueda {
    width: 100%;
    text-align: center; 
    margin-bottom: 20px;
}

.Pokedex .Pokedex-content .Resultado {
    width: 80%;
    text-align: center;
    border: 20px solid black;
    border-radius: 1rem;
    background: #A9A935;
    overflow-y: hidden;
    height: 100%;
    margin: 0 auto;
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .Pokedex { width: 60%; }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .Pokedex { width: 80%; }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .Pokedex { width: 95%; }
}